node_modules
.next
out
dist
.env*
data/*.local.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
tmp
tmp-*
tmp-*/

# Local duplicate files accidentally created by Finder/iCloud/manual copies.
# These files caused confusion because fixes can be made in the copy instead
# of the file that Next.js actually uses.
**/* 2.*
**/* 3.*
**/* copy.*
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build
**/.packages
**/.pub-cache

# macOS
.DS_Store
**/.DS_Store

/generated/prisma
public/uploads/*
!public/uploads/.gitkeep
vercel-production.env
OFC - vercel-production.env
asaas-vercel-fix.env
.vercel
.env*.local
